body{
    margin:0;
    color: #3d2514;
}
.group1{
    background: url(americanfood/group1background.png);
    overflow: hidden;
}
.first{
    color:#3d2514;
   display: flex;
   justify-content: space-between;
    
    width: 100%;
}
.group1 a{
    color:#3d2514;
    text-decoration: none;
}
.logo{
    padding: 10px;
}
.delivery{
    display: flex;
    margin-top: 30px;
    padding: 15px;
    justify-content: space-around;
}
.delivery img{
    height: 56%;
}
.group1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
span{
    font-size: 15px;
}
nav ul{
    display: flex;
    color:#3d2514 ;
    justify-content: flex-end;
}
nav ul li {
    padding: 10px;
}
.two{
    display: flex;
    justify-content: space-evenly;
}
.house{
    padding-left: 40px;
    
}
.greattaste{
    font-size: 23px;
    border: 1px dashed #3d2514;
    width: max-content;
}
.burger{
    font-size:60px;
   width: max-content;
   text-shadow: 4px 3px 2px white;
}
.burger h1{
    margin: 0;
}
.week{
    width: max-content;
    font-size: 72px;
    text-shadow: 4px 3px 2px white;
}
.week h2{
    margin: 0;
}
.product1 img{
    width: 100%;
}
.group2{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    justify-content: space-evenly;
    /* padding: 16px; */
    padding-top: 30px;
}
.box1{
    /* width: 535px; */
    min-width: 413px;
    /* height: 420px; */
    min-height: 292px;
    /* padding: 0px; */
    color: white;
    background: url(americanfood/box1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.double{
    margin-top: 9px;
}
.box2{
    min-height: 130px;
    min-width: 400px;
    margin-bottom: 15px;
    /* margin-top: 0px; */
    color: white;
    background: url(americanfood/box2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.box3{
    /* height: 191px; */
    min-height: 130px;
    padding: 0px;
    color: white;
    background: url(americanfood/box3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.bo1,.bo2,.bo3{
    padding: 13px;
}
.today{
    font-size: 15px;
}
.popular{
    font-size: 21px;
    font-weight: bold;
}
.fun,.taste{
    font-weight: bold;
}
.fun{
    font-size: 26px;
}
.taste{
font-size: 20px;
}
.fresh{
    font-size: 18px;
    font-weight: bold;
}
.b1{
    
    margin-top: 15px;
    text-align: center;
}
.buttn{
    padding: 8px;
    background: #ffc045;
    border: none;
    color: #3d2514;
    font-size: 17px;
    font-weight: 900;
}
.enjoy{
    text-align: center;
    font-size: 26px;
}
.enjoy h1{
    font-weight: bolder;
}
.enjoy p{
    width: 80%;
    font-size: 25px;
    margin: auto;
}
.threepro{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    color: #3d2514;
}
.vegbur,.cheesybur,.thandhoribur{
    width: 370px;
    padding: 10px;
}
.vegbur img{
    width: 80%;
}
.cheesybur img{
    width: 70%;
    min-height: 296px;
    max-height: 296px;
}
.thandhoribur img{
    width: 80%;
}
.threepro h2{
    font-size: 28px;
    margin: auto;
}
.burbt{
    font-size: 17px;
    padding: 6px;
    font-weight: bolder;
    background: #bf2222;
    color: white;
    border: none;
}
.maindot{
    width: 100%;
    margin-top: 70px;
}
.dotitems{
    box-shadow: 2px 2px 5px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.dis{
    width: 50%;
}
.discover{
    width: 47%;
    padding: 25px 0 0 25px;
}
.discover h1{
    margin: 0;
    font-size: 45px;
}
.disbur img{
    width: 100%;
    max-width: 543px;
    max-height: 271px;
    padding: 10px 0;
}
.yourtable{
    position: relative;
    margin-top: 127px;
}
.sidbur{
    position: absolute;
}
.bottle{
    position:absolute;
    left: 130px;
    top: 165px;
}
.plate{
    position: absolute;
    right: 0;
    top: 230em;
}
.booktable{
    text-align: center;
}
.booktable h2{
    margin: 0;
    font-size: 33px;
    font-weight: 100;
}
.booktable h1{
    font-family: impact;
    margin: 0;
    font-size:90px;
}
.table{
    margin-top: 64px;
    text-align: center;
}
.table input{
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
    height: 50px;
    margin: 20px;
}
.table input[type="text"]::placeholder{
    padding: 10px;
    font-size: 15px;
}
.table button{
    width: 26%;
    FONT-SIZE: 26px;
    font-weight: 800;
    height: 55px;
    padding: 0px;
    margin: 16px;
    color: white;
    background: red;
    border: none;
    border-radius: 10px;
}
.endgroup{
    width: 85%;
    margin-bottom: 70px;
    margin: auto;
   margin-top: 150px;
   margin-bottom: 70px;
    background:url(americanfood/endback.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
.end{
    display: flex;
}
.lasthous{
    width: 50%;
    padding: 37px;
    padding-right: 0;
}
.lasthous img{
    width: 215px;
}
.lasthous p{
    text-align: justify;
    width: 90%;
    font-size: 13px;
}
.addrs{
    width: 50%;
    margin: auto;
    line-height: 27px;
    padding-left: 170px;
    padding-top: 50px;
}
.addrs ul li{
    list-style:none;
}
.addrs ul li a{
    color: white;
    text-decoration:none ;
}
footer{
    display: flex;
    justify-content: space-between;
}
.iconfont{
    display: flex;
    margin: 0;
}
.iconfont li{
    padding: 8px;
    list-style: none;
}
.company,.social{
    padding: 23px;

}
.social{
    padding-bottom: 20px;
    padding-top: 0;
}