/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Blaka+Hollow&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}
header,section{
    overflow-x: hidden;
}

:root{
   --Snigle-font:"Sniglet",cursive;
   --Rubik:"Rubik",cursive;
   --Patua:"Patua One",cursive;
   --Lobster:"Lobster",cursive;
   --light-black:#2e2c2caf;
   --bggradient:linear-gradient(
    to bottom,
     #dd2476,#ff512f);
     --light-gray:rgba(255,255,255,0.877)

}

header a{
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    color: whitesmoke !important;
}
header{
    background:#dd2476 ;
    background: var(--bggradient);
}
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
header .nav-item:last-child{
    padding-right: 10.5em;

}
header .nav-item{
    padding: 0.9em;
}
header.navbar-brand {
    padding-left: 8rem;
}
header.nav-link:hover{
    color: black;
}
header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}
header .row .col-md-7{
    padding: 14vmin 1vmin;
    padding-bottom: 10vmin;
    font-family: var(--Rubik);
    color: white;
}
header .row .col-md-5 img{
    width: 90%;
    padding: 8vmin 1vmin;
}
header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}
header .container .col-md-7 h1{
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}
header .container .col-md-7 p{
    padding: 1vmin 5vmin;
}
header .container .col-md-7 button{
    border-radius: 30px;
    font-weight:bold ;
}
/* Section 1 */

.section-1{
    padding: 10vmin 0;
}
.section-1 .col-md-6{
    width: 42%;
}
.section-1 .row .col-md-6 img{
    opacity: 0.8;
    width: 80%;
    height: 87%;
    border-radius: 0.2em;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    width: 52rem;
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    font-family: var(--Rubik);
    z-index: 1;
}
.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
}
