@media only screen and (max-width:1024px){
    header .container .col-md-7 h1{
        font-size: 6.5vmin;
    }
    .section-1 .row .col-md-6 .panel{
        width: 40rem;
    padding: 12vmin 5vmin 13vmin 5vmin;
    left: -14vmin;
    top: 5vmin;
    }
    .section-1 .row .col-md-6 .panel h1{
        font-size: 24px;
    }
    .section-1 .row .col-md-6 .panel p{
        font-size: 12px;
    }
    .section-1 {
        padding: 10vmin 0 0vmin 0;
    }
    .numbers .rect {
        width: 13rem;
        height: 10rem;
    }
    .numbers .rect h1 {
        font-size: 4rem;
    }
    .purchase>h1 {
        padding-top: 10vmin;
    }
    .purchase>p {
        padding-bottom: 5vmin;
    }
    .purchase .cards .card {
        width: 18rem;
    }
    .section-3 .col-md-6 {
    width: auto;
    }
    .section-4 .container h1 {
        font-size: 6vmin;
        padding-top: 9vmin;
    }
    .cards .card-text {
        padding: 2.5rem 1rem;
    }
    footer {
        padding: 14vmin 10vmin;
    }

}
@media only screen and (max-width:768px){
    element.style {
    padding-left: 0.5em;
}
.navbar-brand{
        padding-left: 0.5em !important;
    }
    header .container .col-md-7 h6 {
        padding: 0vmin;
        letter-spacing: 3px;
    }
    header .container .col-md-7 h1 {
        font-size: 4.5vmin;
    }
    header .container .col-md-7 p {
        padding: 1vmin 0vmin;
    }
    .section-1 .row .col-md-6 .panel {
        width: 30rem;
        padding: 2vmin 5vmin 0vmin 5vmin;
        left: -12vmin;
        top: 3vmin;
    }

    .numbers .rect {
        width: 9rem;
        height: 8rem;
    }
    .numbers .rect h1 {
        font-size: 3rem;
    }
    .purchase>h1 {
        padding-top: 4vmin;
    }
    .purchase>p {
        padding-bottom: 1vmin;
    }
    .purchase .cards .card {
        width: 21rem;
    }
    .section-3 .col-md-12>h1 {
        padding: 1em 0 0.5em 0;
        
        font-size: 5vmin;
    }
    .section-3 .col-md-12>p {
        padding: 12px 4em;
        padding-bottom: 2em;
        font-size: 18px;
    }
    .col-md-4 {
        width: 100%;
        margin-bottom: 4vmin;
    }
    .section-4 .team {
        padding: 5vmin 8vmin;
    }
    footer {
        padding: 14vmin 2vmin;
    }
    .text-light {
        font-size: 19px;
    }
    .text-muted {
        font-size: 14px;
    }
    footer .column i + i {
        padding: 0 2px;
    }
}
@media screen and (max-width: 426px) and (min-width: 320px) {
    .navbar-brand {
        padding-left: 0px !important;
    }
    header .container .col-md-7 h6 {
        padding: 0vmin;
        letter-spacing: 1px;
        font-size: 10px;
    }
    header .container .col-md-7 h1 {
        font-size: 7.5vmin;
    }
    .section-3 .col-md-12>h1 {
        padding: 1em 0 0.5em 0;
        font-size: 4vmin;
        margin: 0;
    }
    .section-3 .col-md-12>p{
        margin: 0;
    }
    .section-3 .col-md-12>p {
        padding: 2px 0em;
        padding-bottom: 0;
        font-size: 10px;
    }
.section-3 .desktop {
    border-radius: 3em;
    padding: 0vmin 4.5vmin;
     margin: 0; 
}
.fa-solid{
    font-size: 20px !important;
}
.onetime{
    padding-left: 7px !important;
}
.section-3 .col-md-6 {
    width: -webkit-fill-available;
    padding: 10px;
}
.hero{
    padding: 0 6vmin !important;
}
footer {
    padding: 7vmin 2vmin;
}
footer .container-fluid .row .col-md-5{
     padding: 0 28px;
}
footer .container-fluid .row .col-md-2{
    padding: 28px;
}
}